<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Evaluating K-Means Clusters with the Iris Dataset

_Authors: Joseph Nelson (DC)_

---

Below you will practice using K-Means clustering and the various evaluation strategies we covered on the famous Iris dataset.

In [3]:
%matplotlib inline 

import pandas as pd
import numpy as np
from sklearn import cluster, metrics
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot') 
from sklearn import datasets
import seaborn as sns

### 1: Import and format the data

Both sklearn and seaborn have ways to import the iris data:
- `sklearn.datasets.load_iris()`
- `sns.load_dataset("iris")`

The seaborn way is easier.

In [5]:
# A:
data = sns.load_dataset("iris")

### 2. Plot the data to visually estimate to correct number of clusters

In [6]:
# A:
data.species.plot(kind='scatter' x=)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

### 3. Cluster the data using K-Means

- Select a number of clusters of your choice based on your visual analysis above.

In [4]:
# A:

**3.2 Compute the labels and centroids.**

In [5]:
# A:

### 4. Visually evaluate the clusters.
- Compare the predicted labels vs. the actual labels.

In [6]:
# A:

### 5. Check the centroids and plot them along two of the features.

In [7]:
# A:

### 6. Compute the silhoutte score for your clusters.

What does the score indicate?

In [8]:
# A:

### 7. Plot the silhouette score for K = 2,3,4,5,6,7,8

You will need to fit a new model for each one. You can standardize your data before iterating through the clusters or not, up to you.

In [9]:
# A:

### 8. Plot the inertia score for the different K clusters.

Is there an "elbow" to select a good number of clusters or not?

In [10]:
# A:

### 9. Fit a K-Means with 3 clusters and pull out the cluster labels. Pull out the true labels as well.

Once you have both, adjust the predicted cluster labels to correspond to the true labels. For example, cluster 0 should correspond roughly to species 0, cluster 1 to species 1, and cluster 2 to species 2.

In [11]:
# A:

### 10. Calculate the completeness, homogeneity, V measure, and mutual information (adjusted) using the predicted clusters and the true labels.

In [12]:
# A: