# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [3]:
s1 = pd.Series(np.random.randint(1, high=5, size=100, dtype='l'))
s2 = pd.Series(np.random.randint(1, high=4, size=100, dtype='l'))
s3 = pd.Series(np.random.randint(10000, high=30001, size=100, dtype='l'))

s1, s2, s3

(0     1
 1     4
 2     4
 3     4
 4     1
 5     1
 6     2
 7     1
 8     2
 9     1
 10    1
 11    4
 12    3
 13    3
 14    3
 15    3
 16    2
 17    1
 18    4
 19    3
 20    1
 21    1
 22    2
 23    3
 24    3
 25    3
 26    1
 27    4
 28    3
 29    4
      ..
 70    3
 71    4
 72    1
 73    4
 74    3
 75    2
 76    1
 77    3
 78    2
 79    4
 80    2
 81    4
 82    1
 83    4
 84    4
 85    4
 86    1
 87    2
 88    1
 89    3
 90    4
 91    1
 92    2
 93    1
 94    2
 95    1
 96    2
 97    2
 98    3
 99    3
 dtype: int32, 0     3
 1     3
 2     3
 3     3
 4     3
 5     1
 6     2
 7     2
 8     2
 9     2
 10    3
 11    3
 12    3
 13    3
 14    3
 15    3
 16    2
 17    1
 18    2
 19    1
 20    1
 21    3
 22    1
 23    2
 24    2
 25    3
 26    3
 27    1
 28    3
 29    2
      ..
 70    3
 71    3
 72    3
 73    3
 74    1
 75    3
 76    2
 77    2
 78    2
 79    3
 80    2
 81    3
 82    1
 83    1
 84    2
 85    1
 86    2
 87    3
 88    1
 89    3
 90    1
 91    1
 92    2
 93    3
 94    1
 95    2
 96    1
 97    3
 98    3
 99    1
 dtype: int32, 0     24481
 1     21842
 2     20294
 3     24579
 4     23821
 5     26303
 6     12987
 7     29593
 8     23420
 9     19729
 10    14878
 11    13686
 12    28247
 13    12414
 14    12158
 15    11817
 16    27409
 17    22899
 18    17599
 19    13059
 20    27664
 21    13155
 22    25084
 23    14831
 24    15930
 25    28762
 26    18825
 27    12072
 28    11888
 29    25898
       ...
 70    12623
 71    17312
 72    21795
 73    15781
 74    23365
 75    11244
 76    20847
 77    27578
 78    15583
 79    20981
 80    27278
 81    25984
 82    25780
 83    10066
 84    19512
 85    29676
 86    17729
 87    11142
 88    10793
 89    26013
 90    27832
 91    14052
 92    16621
 93    28040
 94    11721
 95    17566
 96    25145
 97    15907
 98    15034
 99    11782
 dtype: int32)

### Step 3. Let's create a DataFrame by joinning the Series by column

In [4]:
housemkt = pd.concat([s1, s2, s3], axis=1)
housemkt.head()

   0  1      2
0  1  3  24481
1  4  3  21842
2  4  3  20294
3  4  3  24579
4  1  3  23821

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [5]:
housemkt.rename(columns = {0: 'bedrs', 1: 'bathrs', 2: 'price_sqr_meter'}, inplace=True)
housemkt.head()

   bedrs  bathrs  price_sqr_meter
0      1       3            24481
1      4       3            21842
2      4       3            20294
3      4       3            24579
4      1       3            23821

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [6]:
# join concat the values
bigcolumn = pd.concat([s1, s2, s3], axis=0)

# it is still a Series, so we need to transform it to a DataFrame
bigcolumn = bigcolumn.to_frame()
type(bigcolumn)

pandas.core.frame.DataFrame

In [10]:
bigcolumn.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9,
            ...
            90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
           dtype='int64', length=300)

### Step 6. Ops it seems it is going only until index 99. Is it true?

In [ ]:
# no the index are kept but the length of the DataFrame is 300
len(bigcolumn)

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [ ]:
bigcolumn.reset_index(drop=True, inplace=True)
bigcolumn