# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [14]:
import pandas as pd
import numpy as np
import random

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [30]:
series1 = pd.Series([random.randrange(1,5) for _ in range (100)])
series2 = pd.Series([random.randrange(1,3) for _ in range (100)])
series3 = pd.Series([random.randrange(10000,30000) for _ in range (100)])

### Step 3. Let's create a DataFrame by joinning the Series by column

In [34]:
df = pd.DataFrame({'series1':series1, 'series2':series2, 'series3': series3})
df.head()

   series1  series2  series3
0        1        1    13820
1        3        1    15500
2        2        1    17598
3        1        2    16410
4        4        1    21608

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [37]:
df.columns = ["bedrs", "bathrs", "price_sqr_meter"]
df.head()

   bedrs  bathrs  price_sqr_meter
0      1       1            13820
1      3       1            15500
2      2       1            17598
3      1       2            16410
4      4       1            21608

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [ ]:
df[[price_sqr_meter]]

### Step 6. Ops it seems it is going only until index 99. Is it true?

### Step 7. Reindex the DataFrame so it goes from 0 to 299